.whole{
    display: flex;
    flex-direction: row;
    height: 30%;
    width: 80%;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: antiquewhite;
    border: 1px white;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    margin-left: 100px;

}
.with_image img{
    width: 220px;
    height: 125px;
    margin-right: 80px;
    border-radius: 8px;
}
.without{
    width: 65%;
    display: flex;
    flex-direction: row;
    background-color: lightgreen;
    border-radius: 8px;
    
}
.left{
    display: flex;
    flex-direction: column;
    margin-right: 40%;
    margin-top: 10px ;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 0;
    color: black;
}
.right{
    display: flex;
    flex-direction: column;
    margin-top: 20px ;
}

.TK{
    font-size: large;
    font-weight: bolder;
    
}
.id{
    padding: 3px 40px ;
    text-align: center;
    outline: none;
    margin: 0px 10px;
    font-size: large;
    background-color: black;
    color: aliceblue;
    border-radius: 8px;
}
a{
    text-decoration: none;

}
.SeeDetails{
    text-decoration: none;
    background-color: azure;
    padding: 5px;
    font-weight: bolder;
    border-radius: 8px;
    margin: 10px;
    font-size: large;
    color: black;
}
.SeeDetails:hover{
    text-decoration: none;
    background-color: rgb(6, 82, 149) ;
    color: white;
}