.CA{
    width: 768px;
}
.Customer h1{
    position: absolute;
    left: 400px;
    margin-top: 30px;
   
    font-size: 80px;
}
.thefull{
    display: flex;
    flex-direction: row;
}

.aucleft div:hover{
    font-size: 15px;
    cursor: pointer;
}
.vl1{
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 70px;
    height: auto;
    border: 2px solid black;
}
.Auctions{
    margin-top: 100px;
    margin-left: 60px;
}