.navbar {
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: lightcoral;
  height: 8vh;
}

.nav a {
  text-decoration: none;
  color: black;
  padding-right: 40px;
}

.nav-item:hover {
  color: white;
}

.navbar-contact {
  border-radius: 50px;
  background-color: rgb(92, 240, 89, 1);
  padding: 10px 38px;
  text-align: center;
}

.navbar-contact:hover {
  background-color: white;
  color: black;
}

.nav2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav2 button{
  background-color: lightcoral;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  right: 10px;
  border: 1px solid white;
  margin-right: 10px;
}

.nav2 button:hover{
  background-color: white;
  color: black;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-left: 10px;
}

.profile h5{
  margin: 0;
}

.profile img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
  color: aliceblue;
}




