.navbar {
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: lightcoral;
  height: 5vh;
}

.nav a {
  text-decoration: none;
  color: black;
  padding-right: 40px;
}

.navbar-contact {
  border-radius: 50px;
  background-color: rgb(92, 240, 89, 1);
  padding: 10px 38px;
  text-align: center;
}

.navbar-contact:hover {
  background-color: white;
  color: black;
}
