.details-wrapper {
  display: flex;
}

.details-image {
  width: 1000px;
  height: 400px;
  /* background-color: aqua; */
  margin: 40px 30px;
  margin-left: 100px;
  object-fit: cover;
  border: 1px solid lightgrey;
}

.cattle-image {
  object-fit: cover;
}

.details-description {
  width: 90%;
  height: 400px;
  /* background-color: blueviolet; */
  margin: 100px 0 30px 30px;
}

.details-description i {
  font-size: 16px;
  color: grey;
}

.des-heading {
  font-size: 30px;
}

.des-heading span {
  font-weight: 600;
  color: rgb(45, 45, 45);
}

.des-ul{
    list-style: none;
    padding: 0;
}

.des-li{
    margin-bottom: 30px;
}

.des-sub-heading {
    margin-right: 20px;
}

.description-p {
  display: flex;
  align-items: center;
  text-align: center;
}

.description-p::before,
.description-p::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000;
  margin: 0 10px;
  max-width: 30%;
}

.des-live-weight {
  padding: 5px 10px;
  /* background-color: rgb(255, 242, 0); */
  color: black;
}

.des-button button{
    padding: 10px 30px;
    background-color: rgb(47, 240, 43);
    color: #fff;
    font-weight: 800;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px 30px 10px 10px
}

.des-button button:hover {
    background-color: rgb(18, 156, 16);
}

.description-featured {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 30px;
    font-weight: 400;
    margin-top: 30px;
}

.description-featured::before,
.description-featured::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000;
  margin: 0 10px;
  max-width: 40%;
}

.price b {
    padding: 5px 8px;
    background: rgb(252, 252, 67);
    font-size: 26px;
}
